body {
    width: 360px;
}

.points-display {
    display: flex;
    align-items: center;
    justify-content: start;
}
.points-display.active {
    border: solid 1px blue;
}
.points-display.inactive {
    border: solid 1px red;
    cursor: pointer;
}

.extension-control.active {
    border: solid 1px blue;
}
.extension-control.inactive {
    border: solid 1px red;
}