body {
    display: flex;
    justify-content: space-around;
    width: 360px;
    height: 216px;
    color: #F2F2F2;
    background-color: #6441A5;
}

#main-title {
    font-size: 1.5em;
    margin: 0;
}

#main-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 67.5%;
    height: 100%;
}

#points-wrapper {
    width: 100%;
    height: 100%;
}

#points-container {
    height: 100%;
}

.points-display {
    width: 100%;
    height: 25%;
    color: inherit;
    border-radius: 10px;
    font-size: 14px;
    padding: 0 5%;
    border: 0;
    box-sizing: border-box;
}
.points-display.active {
    border: solid 1px blue;
    color: #2F2F2F;
}
.points-display.inactive {
    background-color: #9147FF;
    cursor: pointer;
}
.points-display > p {
    pointer-events: none;
    margin: 2px 0;
}
.points-display.tooltip > .tooltip-text {
    right: -52px;
}

.points-title {
    word-break: break-word;
}

.vr {
    border-left: 3px solid #9147FF;
    border-radius: 3px;
    margin-left: 1.5px;
    height: 100%;
}

.extension-control {
    height: 32px;
    width: 32px;
    padding: 0;
    border: 0;
    border-radius: 25%;
    background-color: #9147FF;
    cursor: pointer;
    /*TODO: remove this after finalising active/inactive state (removing the 1px border)*/
    box-sizing: content-box;
}
.extension-control.active {
    border: solid 1px blue;
}
.extension-control.inactive {
    border: solid 1px red;
}
.extension-control > img {
    position: relative;
    top: 0;
    left: 0;
    pointer-events: none;
}
.extension-control.tooltip > .tooltip-text {
    left: -52px;
}

#controls-wrapper {
    height: 100%;
}

#extension-controls {
    height: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.tooltip {
    position: relative;
}
.tooltip > .tooltip-text {
    visibility: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #9147FF;
    border-radius: 5px;
    font-size: 12px;
    height: 100%;
    width: 50px;
    top: 0;
    color: #F2F2F2;
}
.tooltip:hover > .tooltip-text {
    visibility: visible;
}